body{
    background-image: url("https://us.123rf.com/450wm/tomertu/tomertu1604/tomertu160400648/56042369-glitter-vintage-lights-website-banner-background-silver-and-black-defocused-.jpg?ver=6");
    font-family: "Times New Roman", Times, serif;
	overflow-x: hidden;
}
#kontejner{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
}
nav{
    overflow: hidden;
    background-color:lightblue;
    opacity: 0.95;
    font-weight: bold;
    color: blue;
    font-size:26px;
    width: 100%;
    height: 80px;
}
nav {
    margin-bottom: 30px;
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin: 0 30px 20px 0;
}
#poc{
    margin: 30px auto 50px auto;
    float: left;
    width: 47%;
}
#slk{
    margin: auto;
    width: 550px;
}
#dva{
    margin: 20px;
    float: right;
    width: 47%;
    color: white;
    font-size: 20px;
    text-align: justify;
    word-wrap: break-word;
}
footer{
    overflow: hidden;
    clear: both;
    background-color:lightblue;
    opacity: 0.95;
    font-weight: bold;
    color: blue;
    width: 100%;
    height: 80px;
}
a{
    text-decoration: none;
    color: blue;
}
.stranice ul li a {
    color: blue;
    float:left;
    margin: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;     
}
.stranice ul{
    list-style-type: none;
}
.stranice a{
    text-decoration: none;
    color: blue;
}
.stranice  a:active{
    text-decoration: none;
    color: purple;
}
.ikonice{
    margin: 22px;
}
.ikonice ul{
    list-style-type: none;
}
.ikonice ul li   a{
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    float:right;
}
.ikonice a:active{
    color: purple;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background: #161616;
    color: white;
}
.fa-instagram{
    background:#161616;
    color:white;
}
@media only screen and (min-width: 300px){
    nav{
        width: 100%;
        font-size: 16px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        position: relative;
        margin: 30px auto;
        width: 90%;
    }
    #slk{
        margin: auto auto auto 20px;
        width: 100%;
    }
    #dva{
        margin: 20px;
        width: 90%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 5px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 12px;
        width: 14px;;
        text-align: center;
        text-decoration: none;
    }
    .ikonice{
        margin: 2px;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 450px){
    nav{
        width: 100%;
        font-size: 18px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        position: relative;
        margin: 30px auto 50px auto;
        width: 90%;
    }
    #slk{
        margin: auto;
        width: 100%;
    }
    #dva{
        margin: 20px;
        width: 90%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 8px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 14px;
        width: 16px;;
        text-align: center;
        text-decoration: none;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    nav{
        width: 100%;
        font-size: 20px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        position: relative;
        margin: 30px auto 50px auto;
        width: 90%;
    }
    #slk{
        margin: auto;
        width: 100%;
    }
    #dva{
        margin: 20px;
        width: 90%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 18px;
        width: 20px;;
        text-align: center;
        text-decoration: none;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 760px){
    nav{
        width: 100%;
        font-size: 24px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        margin: 30px auto 50px auto;
        float: left;
        width: 47%;
    }
    #slk{
        margin: auto;
        width: 100%;
    }
    #dva{
        margin: 20px;
        float: right;
        width: 47%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 15px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 25px;;
        text-align: center;
        text-decoration: none;
    }
    .ikonice{
        margin: 22px;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 880px){
    nav{
        width: 100%;
        font-size: 26px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        margin: 30px auto 50px auto;
        float: left;
        width: 47%;
    }
    #slk{
        margin: auto;
        width: 100%;
    }
    #dva{
        margin: 20px;
        float: right;
        width: 47%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 15px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 25px;;
        text-align: center;
        text-decoration: none;
    }
    .ikonice{
        margin: 22px;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 1050px){
    nav{
        width: 100%;
        font-size: 26px;
    }
    #sadrzaj{
        margin: auto;
    }
    #poc{
        margin: 30px auto 50px auto;
        float: left;
        width: 47%;
    }
    #slk{
        margin: auto auto auto 15px;
        width: 550px;
    }
    #dva{
        margin: 30px;
        float: right;
        width: 47%;
        color: white;
        font-size: 20px;
        text-align: justify;
        word-wrap: break-word;
    }
    .stranice ul li a {
        color: blue;
        float:left;
        margin: 15px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    
    }
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 25px;;
        text-align: center;
        text-decoration: none;
    }
    .ikonice{
        margin: 22px;
    }
    footer{
        width: 100%;
    }
}